/*
*Name : Harkirat Singh
*Student Number : 8980766
*/

body
{
    font: 24px;
    background-color: beige;
    height: 12px;
    width: 280px;
}

h2{
    colour: ;
    font-size: 33px;
}
